body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.7em;
	color: $base-font-color;	
}

a {
	color: #00aff0;
}

.no-pad {
	padding: 0;
} 

.no-brdr {
	border: none !important;
}

ul,li {
	list-style: none;
}

input, textarea, button {
	@include border-radius(0px);
}

img.device {
	width: 100%;
}

img.device-iphone {
	width: 70%;
	margin-bottom: -40px;
}