/* Buttons */

.btn-primary {
	@include buttons($primary-color);
	border: none;
}

.btn-primary:hover {
	background:darken($primary-color,10%);
}

.login-btns {
	@include box-shadow(0, 3px, 3px, rgba(0, 0, 0, 0.3));
	margin-top: 20px;
}

.signup-btn {
	@include box-shadow(0, 3px, 3px, rgba(0, 0, 0, 0.3));
	margin-top: 35px;
	padding: 12px 26px;
}

.addmmbr-btn {
	@include box-shadow(0, 3px, 3px, rgba(0, 0, 0, 0.3));
	margin-top: 65px;
	padding: 12px 36px;
}

.btn-srchmob {
	background: #ffffff;
	color: $primary-color;
	@include add-border(1px, #ffffff, all);
}