/* Components */

#custom-search-input{
    @include add-border(1px, $primary-color, all);
    border-radius: 6px;
    padding: 3px 0;
    margin: 20px 0 0 25px;    

    i {
    	color: $primary-color;
    }

    input::-webkit-input-placeholder {
			color: $primary-color !important;
    	}

    	input:-moz-placeholder {
			color: $primary-color !important;
    	}

    	input::-moz-placeholder {
			color: $primary-color !important;
    	}

    	input:-ms-input-placeholder {
			color: $primary-color !important;
    	}
}

.visible-from-medium {
	display: none;
}

.visible-till-tab {
	display: none;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#custom-search-inputmobile {
	margin-bottom: 25px;
}

.panel-primary {
	@include add-border(1px, #cccccc, all);
	.panel-heading {
		@include add-background($primary-color);
		color: #FFFFFF;
		text-align: center;
		padding: 14px 10px 3px;
	}

	.well {
		background: lighten($primary-color, 65%);
		border: none;
		text-align: center;
		box-shadow: none;
		color: #333;
		min-height: 111px;

		input[type="radio"] {
				width: 20px;
				margin-top: 7px;
				box-shadow: none;
			}

	}

	.panel-body {
    	padding: 15px 15px 0 !important;
	}
}

.panel-secondary {
	@include add-border(1px, #cccccc, all);
	.panel-heading {
		@include add-background($secondary-color);
		color: #FFFFFF;
		text-align: center;
		padding: 14px 10px 3px;

		button {
			color: #FFF !important;
			opacity: 1;
			font-size: 32px;
    		top: -16px;
    		position: relative;
		}
	}

	.well {
			background: lighten($secondary-color, 43%);
			border: none;
			text-align: center;
			box-shadow: none;
			color: #333;
			min-height: 111px;

			input[type="radio"] {
				width: 20px;
				margin-top: 7px;
				box-shadow: none;
			}
			
		}

		.panel-body {
    		padding: 15px 15px 0 !important;
		}
}