/* Searchbox */

.search {
	width: 100%;

	h3 {
		margin-top: 0;
		padding-top: 0;
	}

	input[type="search"] {
		border: 2px solid $primary-color;
		height: 50px;
		width: 80%;
		padding: 0 0 5px 10px;
		font-size: 18px;
	}
}


.addmember-content {
	img {
		margin-top: 3.4em;
	}
}

#add-mmbr {
  background:#fff;
  padding:2em;
  max-width:30em;
  margin:1em auto;
}
fieldset {
  border:none;
  position:relative;
  margin-bottom: 20px;
  font-family:arial,sans-serif;
}

input {
  width:20em;
  padding:1em 1em .8em 1em;
  width:100%;
  font-size:1.2em;
  border:1px solid #aaa;
  box-shadow:inset 0 1px 3px rgba(0,0,0,.15);
  border-radius:2px;
}
input:focus {
  outline:none;
}

input + label {
  display:block;
  cursor:text;
  color:#ccc;
  font-size: 16px;
  transition:.15s ease-out all;
  position:absolute;  
  top:1.8em;
  left:1em;
}

input:focus + label,
label.stay {  
  top: -0.4em;
  left:1em;  
  font-size:.8em;
  font-weight:bold;
  color:#139dd7;
  transition:.15s ease-out all;
}