/* Mixins */

@mixin border-radius($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin add-border($size, $color, $position) {
	@if $position == 'all' {
		border: $size solid $color;
	}
	@else if $position == 'top' {
		border-top: $size solid $color;
	}
	@else if $position == 'bottom' {
		border-bottom: $size solid $color;
	}
	@else if $position == 'right' {
		border-right: $size solid $color;
	}
	@else if $position == 'left' {
		border-left: $size solid $color;
	}
	@else if $position == 'top-bottom' {
		border-top: $size solid $color;
		border-bottom: $size solid $color;
	}
	@else if $position == 'right-left' {
		border-right: $size solid $color;
		border-left: $size solid $color;
	}
}

@mixin buttons($color) {
	background: $color;
	@if $color == $light-color{
		color: #666666;
	}
	@else {
		color: #ffffff;
	}
}

@mixin add-background($color) {
	background: $color;
	@if $color == $light-color{
		color: #666666;
	}
	@else {
		color: $primary-color;
	}
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}