@media (min-width: 580px) {
	.visible-mob {
	    display: none !important;
  	}
}

/* Media Queries */

@media (max-width: 768px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    bottom: auto;
    height: auto;
    z-index: 1;
    margin-bottom: 50px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 10 !important;
    padding: 3px;
    color: #ffffff;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 35px !important;
  }

 	.add-member {
    	position: relative;

	  .right {
	  	width: 100%;
	    margin: 0;
	  }
	}

	.visible-till-tab {
		display: block !important;
	}

	.user-config.visible-till-tab {
		i {
			border: 1px solid #ffffff !important;
		}
	}
	.login-content {
		width: 90%;
	}

	.signup-content {
		width: 90%;
	} 
}

@media(min-width: 769px) and (max-width: 1200px) {
	.login-content {
		width: 70%;
	}

	.signup-content {
		width: 70%;
	}

	.nav-side-menu {
    	width: 22% ;
	}

	.add-member .right {
	    width: 78%;
	    margin-left: 22%;
	}
}

@media (min-width: 769px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  .visible-from-medium {
  	display: block;
  }
}

@media(max-width: 580px) {
	h1 {
    	font-size: 30px;
	}

	.form-control {
		font-size: 16px;
	}

	h3 {
		font-size: 17px;
	}

	.extra-pad {
    	padding-left: 25px;
    	padding-right: 25px;
	}
}