/* Navbar */

.nav-side-menu {
  width: 14%;
   height: 100%;
   float: left;
   padding: 0;
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   background: $primary-color;		    
   @include box-shadow(0, 3px, 3px, rgba(0, 0, 0, 0.3));

  	.brand {
	  display: block;
	  text-align: left;
	  color: #ffffff;
	  padding: 10px 15px;
	  font-size: 14px;

	  p {
	  	margin: 0;
	  	font-size: 18px;
	  }

	  a {
	  	color: #ffffff;
	  }
	}

	.toggle-btn {
  		display: none;
	}

	ul,li {
	  list-style: none;
	  padding: 0px;
	  margin: 0px;
	  line-height: 35px;
	  cursor: pointer;
	}

	#menu-content {
		margin: 70px 0 0;
	}
}

.user-config {
	margin: 20px 0;
	text-align: center;

	i {
		margin-right: 8px
	}
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  border: none;
  line-height: 28px;
  margin-left: 0px;
}

.menu-active {
	background: darken($primary-color, 5%) !important;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background: darken($primary-color, 5%);
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding: 5px 0;
}
.nav-side-menu li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
  margin-right: 20px;
}
.nav-side-menu li:hover {
  background: darken($primary-color, 5%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}