/* Login */

.container-fluid {
	padding: 0;
}

.login {
	width: 100%;
	background: $primary-color;
	min-height: 100%;
    position: absolute;

	.login-hdr {
		text-align: center;
		padding: 40px 0 20px;
	}

	.login-content {
		@include add-background(#ffffff);
		margin: 90px auto;
		@include border-radius(5px);	
		@include box-shadow(0, 3px, 3px, rgba(0, 0, 0, 0.3));	
		float: none !important;
		padding: 30px 45px 40px;

	}

	.login-input {
		@include add-border(2px, #cccccc, bottom);
		border-top: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
		box-shadow: none !important;
		border-radius: 0;
	}

	.login-input:focus {
		@include add-border(4px, $primary-color, bottom);
		color: $primary-color;
	}
}

.login-container {
	height: 100%;
}


/* Sign Up */

.signup {
	width: 100%;
	background: $primary-color;
	min-height: 100%;
    position: absolute;

	.signup-hdr {
		text-align: center;
		padding: 40px 0 20px;
	}

	.signup-content {
		@include add-background(#ffffff);
		margin: 90px auto;
		@include border-radius(5px);	
		@include box-shadow(0, 3px, 3px, rgba(0, 0, 0, 0.3));	
		float: none !important;
		padding: 30px 45px 40px;
	}

	.login-input {
		@include add-border(2px, #cccccc, bottom);
		border-top: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
		box-shadow: none !important;
		border-radius: 0;
	}

	.login-input:focus {
		@include add-border(4px, $primary-color, bottom);
		color: $primary-color;
	}

	h3 {
		margin: 20px 0 35px;
	}	
}

/* Add Member */

.add-member {
	width: 100%;
	min-height: 100%;

    .right {
    	width: 86%;
    	margin-left: 14%;
	    height: 100%;
	    padding: 0 !important;
	    background: white;
	    color: #0097a7;	
    	@include add-background(#ffffff);   	
    }

    .addmember-hdr {
    	@include add-border(1px, #cccccc, bottom);
    	height: 80px;
    	width: 100%;
    }

    .addmember-content {
    	@include add-background(#ffffff);
		margin: 70px auto;	
		float: none !important;
		padding: 30px 45px 40px;
		clear: both;

		.login-input {
		@include add-border(2px, #cccccc, bottom);
		border-top: 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
		box-shadow: none !important;
		border-radius: 0;
	}

	.login-input:focus {
		@include add-border(4px, $primary-color, bottom);
		color: $primary-color;
	}
    }
}