/* Overrides */

.form-control {
	font-size: 18px;
	margin-bottom: 30px;
}

.text-gray {
	color: #9c9c9c;
}


/* Icons */

.fa-2 {
	font-size: 18px;
}

.fa-3 {
	font-size: 24px;
}

.fa-4 {
	font-size: 27px;
}

.fa-5 {
	font-size: 35px;
}

.fa-6 {
	font-size: 40px;
}

.fa-primary {	
	color: $primary-color;	
}

.fa-border {
	@include add-border(1px, $primary-color, all);
	@include border-radius(5px);
	padding: 8px 8px;
	margin-bottom: 10px;
}


/* Headings */

.heading-primary {
	color: $primary-color;
}

.heading-primary-a {
	@extend .heading-primary;
	@include add-border(1px, $primary-color, bottom);
}

.heading-secondary {
	color: $secondary-color;
}

.heading-secondary-a {
	@extend .heading-secondary;
	@include add-border(1px, $secondary-color, bottom);
}

.heading-light {
	color: $light-color;
}

.heading-light-a {
	@extend .heading-light;
	@include add-border(1px, $light-color, bottom);
}

.heading-dark {
	color: $dark-color;
}

.heading-dark-a {
	@extend .heading-dark;
	@include add-border(1px, $dark-color, bottom);
}

/* Emphasis Text */

.em-primary {
	color: $primary-color;
}

.em-secondary {
	color: $secondary-color;
}

.em-light {
	color: $light-color;
}

.em-dark {
	color: $dark-color;
}