/* Font Colors */
$base-font-size:15px;

$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;

$base-font-color: #666666;

/* Background Colors */
$primary-color: #0097a7;

$secondary-color: #f5a623;

$light-color: #ffcc00;

$dark-color: #336688;